<template>
    <div class="container pt-4">
        <div class="row justify-content-center" v-if="isWeekend">
            <div class="col-md-12">
                <div class="row pb-5">
                    <div class="col-12">
                        <h5 class="text-center text-success">
                            Users who have the most favorite photos on last week
                        </h5>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-md-4 pb-5" v-for="(user, index) in users">
                        <div class="active-user" @click="showPhoto(photo)">
                            <div>{{ user.name }}</div>
                            <div>{{ user.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ActiveUser",
        props: {
            users: {
                type: Array,
            },
            isWeekend: {
                type: Boolean
            },
        },
    }
</script>
