<template>
    <div class="modal modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-content">
                <img v-if="photo" :src="photo['url']" />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'photo-modal',
        props: {
            photo: {
                type: Object
            }
        },
    }
</script>
